:root {
  --text-color: #333333;
  --text-color-light: #828282;
  --background-light: #efefef;
  --color-pink: #f13c6e;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
button {
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
hr {
  width: 100%;
  height: 1px;
  background-color: var(--background-light);
  border: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  color: #303030;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.gap30 {
  gap: 30px;
}
.gap40 {
  gap: 40px;
}

.btn {
  display: inline-block;
  min-width: 170px;
  font-size: 14px;
  line-height: 1.15;
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  border-radius: 40px;
  cursor: pointer;
}
.btn-small {
  min-width: 130px;
  padding: 8px;
}
.btn-white {
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
.btn-pink {
  color: var(--color-white);
  background-color: var(--color-pink);
  border: 2px solid var(--color-pink);
}
.btn-border {
  border: 2px solid var(--color-pink);
}

.bg-lightGray {
  background-color: var(--background-light);
}

.section-title {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 38px;
}

/* ----------HEADER------------------------------------------------------------------  */

.header .level-up {
  padding: 16px 0;
}

.header .center {
  padding: 20px 0;
}
.header .level-down {
  padding: 30px 0;
  font-size: 16px;
}

/* --------banner---------------------------------------------------------------------------*/

.banner {
  background: var(--color-pink) url('../images/Rectangle2.jpg') no-repeat
    center/cover;
  color: var(--color-white);
  min-height: 600px;
}

.banner .text-wrap {
  max-width: 310px;
}
.banner .main-title {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  margin-bottom: 50px;
}
.banner .description {
  line-height: 20px;
  margin-bottom: 50px;
}

/*------------------------------------------------------------------------------------------*/

.special-offers {
  padding: 80px 0 50px 0;
}

.card {
  max-width: 255px;
  background-color: var(--color-white);
  padding: 25px 30px;
  text-align: center;
}

.card .image {
  width: 125px;
  height: 166px;
  object-fit: contain;
}
.card .description {
  line-height: 20px;
  margin: 20px 0;
}
.card .price {
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 20px;
}

/*---------------------------------------------------------------------*/

.promo {
  padding: 50px 0;
}
.promo-card {
  width: 100%;
  color: var(--color-white);
  background-color: var(--color-pink);
  padding: 35px 45px 35px 40px;
}

.promo-card .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 25px;
}
.promo-card .description {
  line-height: 20px;
  margin-bottom: 25px;
  max-width: 225px;
}
.promo-card .input {
  width: 100%;
  max-width: 225px;
  line-height: 25px;
  padding: 5px 25px;
  border-radius: 40px;
  border: none;
}
.promo-card .input:focus {
  border: none;
  outline: none;
}

/*--------------------------------------------------------------------------------------------------*/

.footer .level-up {
  padding: 60px 0;
}
.footer .level-up .column {
  flex-grow: 1;
}
.footer .level-up .title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #000000;
  margin-bottom: 30px;
}
.footer .level-up .list {
  list-style: none;
  margin-top: 25px;
  font-size: 12px;
  line-height: 28px;
  color: #828282;
}
.footer .center {
  padding: 38px 0;
}
.footer .level-down {
  padding: 25px 0;
}
